//make sure this matches bootstrap breakpoints
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$xxs: 420px;

$pathevoBlue: #008CD1;
$navyBlue: #0A608A;
$dangerRed: #dc4343;
$successGreen: #17d557;

$footerHeight: 60px;
$desktopHeaderHeight: 70px;
$mobileHeaderHeight: 52px;